.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits__div {
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.benefits__item {
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
    margin-bottom: 0;
  }
}

.benefits__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;

  color: $secondaryTextColor;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.benefits__text {
  line-height: 1.71;
}
