.function {
  padding-top: 0;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.function__thumb {
  position: relative;
  overflow: hidden;
}

.function__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;

  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: $universalColor;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: $teamBackgroundColor;
}

.function__list {
  display: flex;
}

.function__item:not(.function__item:last-child) {
  margin-right: 30px;
}

.function__title,
.team__title,
.clients__title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 30px;

  color: $secondaryTextColor;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.team-grid {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.team-grid__item:not(:last-child) {
  margin-bottom: 30px;
}

.team-grid__item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.team-grid__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 10px;

  color: $secondaryTextColor;
}
.team-grid__text {
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 16px;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-links__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $teamSocial-linksColor;

  transition: color $anim, background-color $anim;
}

.social-links__link:hover,
.social-links__link:focus {
  color: $universalColor;
  background-color: $hoverTextColor;
}

.social-links__icon {
  fill: currentColor;
}

.team-grid__container {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: $universalColor;

  padding-top: 30px;
  padding-bottom: 24px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}
