.header {
  border-bottom: 1px solid #ececec;

  min-height: 60px;
  display: flex;
  align-items: center;
  margin: 0;

  @media screen and (min-width: 768px) {
    min-height: 80px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    justify-content: space-between;
  }
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $studioColor;
  margin-right: auto;

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.logo__web {
  color: $hoverTextColor;
}

.nav__list {
  .nav__link--current {
    color: $hoverTextColor;
  }
}

.current-thumb {
  position: relative;
}

.nav__link--current::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  bottom: -33px;
  left: 0;

  background: $hoverTextColor;
  border-radius: 2px;
}

.nav__link,
.header-contacts__link {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $primaryTextColor;

  transition: color $anim;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.17;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.nav__link {
  color: $secondaryTextColor;
}

.nav__item:not(.nav__item:last-child) {
  color: $secondaryTextColor;
  margin-right: 50px;
}

.nav__link:hover,
.nav__link:focus {
  color: $hoverTextColor;
}

.header-contacts__link:hover,
.header-contacts__link:focus {
  color: $hoverTextColor;
}

.header {
  .container {
    display: flex;
    align-items: center;
  }
}

.nav__list {
  display: flex;
}

.header-contacts {
  margin-left: auto;
  padding-top: 21px;
  padding-bottom: 21px;

  @media screen and (min-width: 1200px) {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.header-contacts__item:not(:last-child) {
  margin-bottom: 10px;

  @media screen and (min-width: 1200px) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.header-contacts__link {
  display: flex;
  align-items: center;
  gap: 8px;

  @media screen and (min-width: 1200px) {
    gap: 10px;
  }
}

.benefits__icon,
.header-contacts__icon {
  fill: currentColor;
}
