.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity $anim, visibility $anim;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;

  transform: translate(-50%, -50%);

  background-color: $universalColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (max-width: 1199px) {
    width: 95%;
    max-width: 450px;
    height: 95%;
    max-height: 609px;
    overflow: scroll;
  }

  @media screen and (min-width: 1200px) {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal-button {
  position: absolute;
  top: 14px;
  right: 14px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: $universalColor;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-icon {
  fill: #000000;
  transition: fill $anim;
}

.modal-button:hover,
.modal-button:focus {
  .close-icon {
    fill: $hoverTextColor;
  }
}

.modal-title {
  display: block;
  text-align: center;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;

  color: $secondaryTextColor;
}

.modal-form-div {
  position: relative;
}

.modal-form-div:not(.modal-form-div:last-child) {
  margin-bottom: 10px;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 21px;
  transform: translate(-50%, -50%);

  transition: fill $anim;
}

.modal-form-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 42px;

  outline-offset: -1px;
  outline: 1px solid transparent;
  transition: outline-color $anim;
}

.modal-form-input:focus {
  outline-color: $hoverTextColor;
}

.modal-form-input:focus + .modal-icon {
  fill: $hoverTextColor;
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
}

.modal-form-label,
.textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;

  color: $primaryTextColor;
}

.textarea {
  display: block;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 0;
}

.textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  margin-bottom: 0;
}

.checkbox-privacy {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-form-checkbox {
  margin-right: 8.38px;
  appearance: none;
  width: 16px;
  height: 15px;
  border: 2px solid $secondaryTextColor;
  border-radius: 2px;

  outline-offset: -2px;
  outline: 2px solid transparent;
  transition: outline-color $anim, background-color $anim, background-size $anim;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;
}

.modal-form-checkbox:checked {
  outline-color: $hoverTextColor;
  background-color: $hoverTextColor;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  background-size: 11px 8px;
}

.privacy {
  font-size: 12px;
  line-height: 1.17;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.privacy-link {
  color: $hoverTextColor;
  text-decoration: underline;
  cursor: pointer;
}

.modal-form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 50px;
}
