h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
  margin-top: 20px;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  /* outline: 2px solid tomato; */
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.list {
  list-style-type: none;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  /* color: inherit; */
}
